name: build-and-test

on:
  push:
    # all branches
  pull_request:
    # all branches

  # This enables the Run Workflow button on the Actions tab.
  workflow_dispatch:

jobs:

  build-and-test:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Opendylan
        uses: dylan-lang/install-opendylan@v3

      - name: Download dependencies
        run: dylan update

      - name: Build tests
        run: dylan build --all

      - name: Run tests
        run: _build/bin/wrapper-streams-tester --progress none --report surefire > _build/TEST-wrapper-streams.xml

      - name: Publish Test Report
        if: success() || failure()
        uses: mikepenz/action-junit-report@v6
        with:
          report_paths: '**/_build/TEST-*.xml'
